@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<DVDTitle>;

<h1>List Of DVDs</h1>

<hr />

<a asp-action="Index">Back</a>

@if(@Model != null && @Model.Any())
    {
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">DVD Title</th>
              <th scope="col">Actors</th>
            </tr>
          </thead>
          <tbody>
                @foreach(var dvd in Model)
                {
                    
                        var actors = dvd.Actors.ToList();
                        string actorString = string.Empty;

                foreach(var a in actors)
                {
                    actorString += a.Firstname + " " + a.Lastname + ",";
                }

                    <tr>
                      <th scope="row">@dvd.DVDId</th>
                      <td>@dvd.Title</td>
                      <td>@actorString</td>
                    </tr>
                }
          </tbody>
        </table>
    }


   